<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <!--<add name="BaseDb" connectionString="Server=60.222.232.17,15886;Initial Catalog=adms7pro;User ID=0pToP;Password=cOmeollB@bT" providerName="System.Data.SqlClient" />-->
  <add name="BaseDb" connectionString="Server=60.222.232.17,9433;Initial Catalog=adms7pro;User ID=sa;Password=Hao123com" providerName="System.Data.SqlClient" />
  <!--<add name="BaseDb" connectionString="server=192.168.0.4;user id=cx;password=cx.com;database=cxFramework_Base_2016;charset=utf8" providerName="MySql.Data.MySqlClient" />-->
  <!--<add name="BaseDb" connectionString="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=192.168.0.12 )(PORT=1521))(CONNECT_DATA=(SERVER = DEDICATED)(SERVICE_NAME=cx)));User Id=cx;Password=qwert12345;" providerName="Oracle.ManagedDataAccess.Client"/>-->
</connectionStrings>